.contacts {
  padding: 20px 18%;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.contacts__list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-left: 12%;

  padding: 0;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-left: 5%;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;

    flex-direction: column;
    align-items: center;
  }
}

.contacts__list li {
  margin-left: 8%;

  @media (max-width: $tablet-width) {
    margin-left: 9%;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-right: 5px;
  }
}

.contacts__list a {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  padding: 15px;
  padding-left: 45px;

  @media (max-width: $mobile-width) {
    padding: 15px 0 10px 45px;
  }
}

.contacts__list a:hover,
.contacts__list a:focus {
  color: $accent;
}

.contacts__list a:active {
  border: 2px solid $accent;
}
