.form-section {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 298px;
  right: 242px;
  width: 28%;

  text-align: center;

  @media (max-width: $tablet-width) {
    position: static;
    margin: 0;
    padding: 46px;
    padding-bottom: 20px;

    width: 100%;

    background-color: $white;
  }

  @media (max-width: $mobile-width) {
    padding: 45px 0 25px 0;
  }
}

.form-section br {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.form-section p {
  margin-top: 24px;

  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.17px;

  color: $white;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;

    color: $black;
  }
}
