.form-section {
  display: inline-flex;
  flex-direction: column;

  margin-left: 153px;
  margin-top: 219px;

  width: 36%;
}

.form-section p {
  margin-top: 24px;

  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;

  color: $white;
}
