.form {
  margin-top: 4px;

  @media (max-width: $tablet-width) {
    margin: 12px auto;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    margin: 3px auto;
  }
}

.form input {
  margin-bottom: 20px;

  border: 1px solid $placeholder-border;
  border-radius: 4px;

  width: 327px;
  min-height: 48px;
  padding: 17px 29px 10px 29px;

  letter-spacing: 0.3px;

  @media (max-width: $tablet-width) {
    width: 321px;

    padding: 12px 21px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;

    padding: 15px 25px 11px 25px;
  }
}

.form input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  color: $placeholder;
  opacity: 0.5;
}

.form button {
  padding-top: 5px;

  border: none;
  border-radius: 6px;
  background-color: $accent;

  width: 325px;
  height: 51px;

  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: $black;

  @media (max-width: $tablet-width) {
    width: 321px;
  }

  @media (max-width: $mobile-width) {
    width: 286px;

    padding-top: 1px;
  }
}
