.main-information {
  flex-direction: column;

  padding: 0 19%;

  min-width: 1440px;
  min-height: 825px;

  background-image: url(../../img/main-background.jpg);
  background-color: $background-dark;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url(../../img/main-background@2x.jpg);
    background-size: contain;
  }

  @media (max-width: $tablet-width) {
    background-image: url(../../img/main-background-tablet.jpg);

    padding: 0;

    min-width: 768px;
    min-height: 340px;

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/main-background-tablet@2x.jpg);
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url(../../img/main-background-mobile.jpg);

    min-width: 320px;
    min-height: 390px;

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/main-background-mobile@2x.jpg);
    }
  }
}

.main-information img {
  margin: 318px 0 0 6px;

  @media (max-width: $tablet-width) {
    margin: 25px 0 0 22px;
  }

  @media (max-width: $mobile-width) {
    margin: 25px 0 0 17px;
  }
}

.main-information h2 {
  margin: 25px 0 23px 7px;

  width: 45%;

  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: 1.3px;

  color: $white;

  @media (max-width: $tablet-width) {
    margin: 85px 0 20px 0;

    width: 100%;

    font-size: 30px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.8px;
  }

  @media (max-width: $mobile-width) {
    margin: 70px 0 20px 0;
  }
}

.main-information p {
  margin-left: 8px;
  width: 45%;

  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.8;

  color: $white;

  @media (max-width: $tablet-width) {
    margin: 15px auto;
    width: 50%;

    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.03px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 20px;
  }
}

