.location {
  margin-top: 62px;

  text-align: center;

  @media (max-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 60px;
  }
}

.location h3 {
  margin-right: 10px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.4px;

  color: $titles;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 22px;

    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.location__description {
  margin-right: 13px;

  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.4px;

  color: $black-light;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0 25px 0 25px;
  }
}

.location__description br {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.location__container {
  position: relative;

  margin: 23px auto 22px auto;

  width: 957px;
  height: 530px;

  background-color: transparent;

  @media (max-width: $tablet-width) {
    margin: 0 auto 10px auto;

    width: 698px;
    height: 545px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 250px;
    height: auto;
  }
}

.location__container iframe {
  width: 957px;
  height: 530px;

  margin-top: 17px;
  border: none;

  @media (max-width: $tablet-width) {
    margin-top: 2px;

    width: 698px;
    height: 545px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 250px;
    // height: auto;
  }
}

.location img {
  position: absolute;
  z-index: -1;
  top: 17px;

  @media (max-width: $tablet-width) {
    top: 2px;
  }
}
