.nav {
  max-width: 873px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.nav--mobile {
  display: flex;
  flex-direction: column;
}

.nav::after {
  content: "";
  position: absolute;
  width: 873px;
  height: 1px;
  background-color: $white;
  bottom: 0;
  left: 4px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 6px 3px 8px 0;
  margin: 0;

  color: $white;

  list-style: none;

  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;

  @media (max-width: $tablet-width) {
    display: none;
    padding: 0;
  }
}

.nav__list--mobile {
  @media (max-width: $tablet-width) {
    display: block;
    order: -1;

    margin: 0;
    padding: 40px 0;

    background-color: $white;
  }
}

.nav__list--mobile li {
  @media (max-width: $tablet-width) {
    position: relative;
    margin: 30px 0;
    padding: 17px;

    background-color: $background-light;

    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: start;
    color: $menu-text;
  }
}

.nav__list--mobile li::after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow.svg");
  width: 25px;
  height: 25px;
  top: 18px;
  right: 18px;
}

.nav__list a {
  display: inline-block;
  vertical-align: middle;

  padding: 0 19px;

  cursor: pointer;
}

.nav__list a:hover,
.nav__list a:focus {
  color: $accent;
}

.nav__list a:active {
  border: 2px solid $accent;
}

.nav__button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.nav__button--closed,
.nav__button--opened {
  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
}

.nav__button--closed {
  @media (max-width: $tablet-width) {
    background-color: $accent;
    background-image: url("../img/menu.svg");
  }
}

.nav__button--opened {
  @media (max-width: $tablet-width) {
    background-color: $white;
    background-image: url("../img/cross.svg");
  }
}
