
.page__header {
  position: absolute;
  z-index: 1;
  width: 873px;
  height: auto;
  top: 15px;
  left: calc(50% - 436px);

  @media (max-width: $tablet-width) {
    position: static;
    width: 100%;
  }
}
