.poster {
  margin: 55px auto 0 auto;

  position: relative;

  width: 929px;
  height: 522px;

  @media (max-width: $tablet-width) {
    margin: 40px auto 0 auto;

    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width) {
    margin: 54px auto 0 auto;

    width: 288px;
    height: 162px;
  }
}

.poster__video {
  width: 929px;
  height: 522px;

  @media (max-width: $tablet-width) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    height: 162px;
  }
}

.poster img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 929px;
  height: 522px;

  @media (max-width: $tablet-width) {
    width: 503px;
    height: 282px;
    object-fit: cover;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    height: 162px;
  }
}

.poster button {
  content: "";
  background-image: url("../../img/play.svg");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  width: 65px;
  height: 65px;
  top: calc(50% - 33px);
  left: calc(50% - 33px);
  border: none;
  background-color: inherit;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    background-image: url("../../img/play-tablet.svg");
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
  }

  @media (max-width: $mobile-width) {
    background-image: url("../../img/play.svg");
    width: 65px;
    height: 65px;
    top: calc(50% - 33px);
    left: calc(50% - 33px);
  }
}

.poster button:hover,
.poster button:focus {
  background-image: url("../../img/play-tablet.svg");
  width: 90px;
  height: 90px;
  top: calc(50% - 45px);
  left: calc(50% - 45px);

  @media (max-width: $tablet-width) {
    background-image: url("../../img/play.svg");
    width: 65px;
    height: 65px;
    top: calc(50% - 33px);
    left: calc(50% - 33px);
  }

  @media (max-width: $mobile-width) {
    background-image: url("../../img/play-tablet.svg");
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
  }
}
