.types {
  padding: 120px 9% 110px 9%;

  background-color: $background-light;
}

.types__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;

  color: $titles;
}

.types__list {
  margin-top: 50px;
}

