@import "../sass/variables.scss";
@import "../sass/fonts.scss";
@import "../sass/blocks/contacts.scss";
@import "../sass/blocks/facts";
@import "../sass/blocks/form-section";
@import "../sass/blocks/form";
@import "../sass/blocks/kinds";
@import "../sass/blocks/location";
@import "../sass/blocks/mail.scss";
@import "../sass/blocks/main-information.scss";
@import "../sass/blocks/nav";
@import "../sass/blocks/page__header";
@import "../sass/blocks/page__main";
@import "../sass/blocks/page.scss";
@import "../sass/blocks/phone.scss";
@import "../sass/blocks/poster";
@import "../sass/blocks/types";
@import "../sass/blocks/video";


*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
